<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVz8-9i02yZqnE8zfOyvjseyT1zxb1Zhg</string>
	<key>GCM_SENDER_ID</key>
	<string>816413409410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobilproje.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mobilproje-3e1a8</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilproje-3e1a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816413409410:ios:fbe9fdf91630a0b688349b</string>
</dict>
</plist>